<div class="education-detail-container">
    <div class="education-info-box">
      <h2>Faculdade</h2>
      <p>UniGuairacá</p>
    </div>
  
    <div class="education-info-box">
      <h2>Ensino Médio</h2>
      <p>Colégio São Bento</p>
    </div>
  
    <div class="education-info-box">
      <h2>Escolha do Curso</h2>
      <p>Escolhi Engenharia de Software porque creio que a tecnologia irá proporcionar grandiosidades em meu futuro</p>
    </div>
  
    <div class="education-info-box">
      <h2>Conquistas Escolares</h2>
      <ul>
        <li>Prata - Olimpíadas de Língua Portuguesa</li>
        <li>Bronze - Agrinho</li>
        <!-- Adicione mais conquistas conforme necessário -->
      </ul>
    </div>
  
    <div class="education-info-box">
      <h2>Idiomas</h2>
      <p>Português e Inglês</p>
    </div>
  </div>